.subheader-link {
    font-family: Gotham, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(7, 20, 53);
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
.subheader-link-blue {
    font-family: Gotham, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #1551E5;
    cursor:pointer;
}
