<div class="subheader flex items-center justify-between px-[24px] py-[12px] border-b-[1px] border-b-[#E2E4F0]">
    <div>
        <ul class="subheader-list flex items-center justify-center gap-[24px]">
            <li class="subheader-item">
                <a routerLink="my-orders" class="subheader-link">Мои заказы</a>
            </li>
            <li class="subheader-item">
                <a routerLink="staff"class="subheader-link">Сотрудники</a>
            </li>
            <li class="subheader-item">
                <a routerLink="template-orders" class="subheader-link">Шаблоны заказов</a>
            </li>
            <li class="subheader-item">
                <a routerLink="appeals" class="subheader-link">Обращения</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="subheader-list flex items-center justify-center gap-[24px]">
            <li class="subheader-item cursor:pointer">
                <a routerLink="toManager" class="subheader-link-blue flex items-center justify-center gap-[5px] text-[#1551E5] bg-[#F2F6FF] rounded-lg px-[24px] py-[12px] hover:bg-[#316CFC] hover:text-white hover:fill-white">
                    <img src="assets/message-circle.svg" alt="message-circle ">
                    Ваш менеджер
                </a>
            </li>
            <li class="subheader-item">
                <a routerLink="stock"class="subheader-link-blue flex items-center justify-center gap-[5px] text-[#1551E5]">
                    <img src="assets/percent.svg" alt="">
                    Акции
                </a>
            </li>
            <li class="subheader-item">
                <a routerLink="blog" class="subheader-link-blue flex align-center">Блог</a>
            </li>
            
        </ul>
    </div>
</div>
