/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';


@layer base {
  @font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/Gotham-Book.otf") format("otf");
  }
  @font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("assets/fonts/Gotham-Medium.otf") format("otf");
  }
  @font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("assets/fonts/Gotham-Bold.otf") format("otf");
  }
}


@font-face {
    font-family: "Gotham", sans-serif;
    src: url("assets/fonts/Gotham-Book.otf") format("otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gotham", sans-serif;
    src: url("assets/fonts/Gotham-Medium.otf") format("otf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Gotham", sans-serif;
    src: url("assets/fonts/Gotham-Bold.otf") format("otf");
    font-weight: 700;
  }

  @font-face {
    font-family: "VelaSans", sans-serif;
    src: url("assets/fonts/VelaSans-Medium.otf") format("otf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "VelaSans", sans-serif;
    src: url("assets/fonts/VelaSans-Regular.otf") format("otf");
    font-weight: 400;
  }
  
.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-self: center;
}